<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nombre del autor">
    <meta name="description" content="Descripcion del proyecto">
    <!-- Biblioteca de íconos Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Archivo reset Normalize -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Archivo de estilos -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/favicon-32x32.png" type="image/x-icon">
    <title>Menú Principal</title>
</head>

<body>
    <header class="navbar">
        <section class="navbar-companyinfo">
            <img src="images/logo.svg" alt="logo" class="navbar-companyinfo-logo">
            <h1>El Palacio del Vandolero</h1>
        </section>
        <section class="navbar-userinfo">
            <div class="navbar-userinfo-details">
                <h2>Argenis Medina Morales</h2>
                <h3>Administrador</h3>
            </div>
            <button class="navbar-userinfo-logout" title="Botón para Cerrar Sesión"><img src="images/salir.svg" alt="btn-salir" class="logout-icon"></button>
        </section>
    </header>
    <main class="container">
        <div class="container-item">
            <button title="Botón de Mesas"><img src="images/mesa.svg" alt="mesas" class="container-item-icon">Mesas</button>
        </div>
        <div class="container-item">
            <button title="Botón de Pedidos"><img src="images/pedido.svg" alt="pedidos" class="container-item-icon">Pedidos</button>
        </div>
        <div class="container-item">
            <button title="Botón de Reservaciones"><img src="images/reservacion.svg" alt="reservaciones" class="container-item-icon">Reservaciones</button>
        </div>
        <div class="container-item">
            <button title="Botón de Facturación"><img src="images/factura.svg" alt="facturacion" class="container-item-icon">Facturación</button>
        </div>
        <div class="container-item">
            <button title="Botón de Inventario"><img src="images/inventario.svg" alt="inventario" class="container-item-icon">Inventario</button>
        </div>
        <div class="container-item">
            <button title="Botón de Empleados"><img src="images/empleado.svg" alt="empleados" class="container-item-icon">Empleados</button>
        </div>
        <div class="container-item">
            <button title="Botón de Proveedores"><img src="images/proveedor.svg" alt="proveedores" class="container-item-icon">Proveedores</button>
        </div>
        <div class="container-item">
            <button title="Botón de Ajustes"><img src="images/ajuste.svg" alt="ajustes" class="container-item-icon">Ajustes</button>
        </div>
    </main>
    <footer class="global-footer">
        <h4>Made by Santiago Trespalacios Bolívar, David Gómez Agudelo & Mario Zambrano</h4>
    </footer>
</body>
</html>