.mesas-menu {
    width: 100%;
    height: calc(100dvh - 325px);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, 240px);
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    padding: 20px;
    overflow-y: auto; /* Esto permite el scroll vertical */
}

.mesa-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #BF2604;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 2rem;
    border: none;
    gap: 20px;
}

.mesa-item-icon {
    filter: invert(1);
    height: 75px;
    width: 75px;
}

.mesa-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border: none;
    background-color: white;
    border-radius: 100%;
    padding: 20px;
}

.mesa-item-actions {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}