.navbar, .navbar-companyinfo ,.navbar-userinfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 2%;
    border-bottom: 5px solid rgba(255, 66, 4, 0.85);
    background-color: var(--white);
}

.navbar-companyinfo{
    gap: 20px;
    font-size: 24px;
    color: var(--buttons);
}

.navbar-userinfo{
    gap: 20px;
}

.navbar-userinfo-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    h2 {
        font-size: 15px;
        font-weight: 500;
    }

    h3{
        font-size: 13px;
        color: var(--role);
    }
    padding-right: 25px;
    border-right: 2px solid rgba(255, 66, 4, 1);
}

.navbar-userinfo-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border: none;
    background-color: transparent;
    transition: all 200ms;
    position: relative;
    transform: scale(1);
    border-radius: 100%;
}

.navbar-userinfo-logout:hover{
    background-color: rgba(255, 66, 4, 0.3);
    transform: scale(1.1);
}

.navbar-userinfo-logout:active{
    transform: scale(1);
}