.search-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: auto;
    width: 100%;
}

.search-button{
    background-color: var(--buttons);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding-inline: 10px;
    width: 150px;
    gap: 10px;
    font-weight: 600;
    color: var(--white);
    transform: scale(1);
    transition: all 300ms;
}

.search-button:hover{
    background-color: var(--buttons-hover);
    transform: scale(1.025);
}

.search-input{
    width: calc(100% - 80px);
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}