/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ----- Variables ----- */
:root{
    /* PRIMARY */
    --gren: hsl(75, 94%, 57%);

    /* NEUTRAL */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    --buttons: #BF2604;
    --buttons-hover: #ff4204;
    --role: #F27405;

    /* TYPOGRAPHY */
    --font-size-p: 14px;
    --font-family: 'Inter', sans-serif;
}   

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: var(--font-family);
}

.global-container {
    display: grid;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
    height: 100dvh;
    background-color: var(--white);
}

.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 2%;
    border-bottom: 5px solid var(--buttons);
}

.navbar-companyinfo {
    display: flex;
    gap: 20px;
    color: var(--buttons);
}

.navbar-userinfo {
    display: flex;
    gap: 20px;
}

.navbar-userinfo-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navbar-userinfo-details h2 {
    font-size: 16px;
}

.navbar-userinfo-details h3 {
    font-size: 14px;
    color: var(--role);
}

.navbar-userinfo-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 50%;
    background-color: var(--buttons);
    transition: all 200ms;
    position: relative;
    transform: scale(1);
}

.navbar-userinfo-logout::after {
    content: "";
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: 2px solid var(--white);
    border-radius: 20px;
}

.navbar-userinfo-logout:hover {
    background-color: var(--buttons-hover);
    transform: scale(1.1);
}

.navbar-userinfo-logout:active {
    transform: scale(1);
}

.page {
    grid-area: main;
    display: flex;
    grid-template-columns: 250px 1fr;
    height: 100%; /* Ocupa toda la altura del contenedor principal */
    background-color: var(--buttons);
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    background-color: var(--white);
    height: 100%;
    width: 250px;
    padding: 20px 0 20px 20px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre elementos */
    width: 100%;
}

.sidebar-button {
    display: flex;
    position: relative;
    border-radius: 15px 0px 0px 15px;
    padding-block: 15px;
    width: 100%; 
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    transform: scale(1);
    transition: all 300ms;
}

.sidebar-button img {
    position: absolute;
    left: 5%;
    width: 25px;
    height: 25px;
}

.sidebar-button-true {
    background-color: #BF2604;
    color: white;
}

.sidebar-button-true:hover {
    background-color: var(--buttons-hover);
    transform: scale(1.025) translateX(-2.7px);
}

.sidebar-button-false {
    background-color: #e3e3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.sidebar-item-icon-true {
    filter: invert(1);
}

.main-container-a {
    flex: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-left: 5px solid  var(--buttons);
    border-radius: 20px 0 0 20px;
    background-color: white;
    font-size: 100px;
    font-weight: 600;
    color: var(--buttons);
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.global-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-top: 5px solid var(--buttons);
}

.global-footer h2{
    font-size: 14px;
}