.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 0 20px 20px 0;
    background-color: var(--white);
    height: calc(100vh - 150px);
    padding: 20px 25px 20px 20px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    transition: all 1s;
    border-right: 2.5px solid rgba(255, 66, 4, 0.85);
}

.sidebar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.sidebar {
    scrollbar-width: none;
}

.sidebar {
    -ms-overflow-style: none;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 50px;
    min-height: 50px;
    transition: all 100ms;
}

.sidebar-button {
    display: flex;
    position: relative;
    padding-block: 10px;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    transform: scale(1);
    background-color: transparent;
    border-left: 3px solid rgba(255, 66, 4, 0.68);
    transition: all 300ms;
}

.sidebar-button img {
    position: absolute;
    left: 5%;
    width: 25px;
    height: 25px;
}

.sidebar-button-true {
    color: black;
}

.sidebar-button-true:hover {
    background-color: rgba(255, 66, 4, 0.3);
    color: var(--buttons-hover);
    transform: scale(1.025) translateX(-2.7px);
    border-left: none;
    border-radius: 10px 0 0 10px;
}

.sidebar-button-false {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.27);
    background-color: rgba(255, 66, 4, 0.3);
}

.sidebar-action {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    min-height: 570px;
    height: 100%;
    max-height: 100%;
    color: var(--off-black);
    background-color: var(--buttons-hover);
    border: none;
    border-radius: 0 20px 20px 0;
    right: 0;
    top: 0;
    border-right: 5px solid rgba(255, 66, 4, 0.85);
}

.sidebar-action img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.sidebar-img-active {
    margin-left: 10px;
}

.sidebar-active{
    width: 250px;
    min-width: 250px;
    max-height: calc(100vh - 150px);
    transition: all 2s;
}

.sidebar-disabled {
    min-width: 95px;
    max-width: 95px;
    max-height: calc(100vh - 150px);
    transition: all 1s;
}

.sidebar-disabled .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 2s;
}

.sidebar-disabled .sidebar-button {
    display: flex;
    position: relative;
    padding-block: 22.5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    transform: scale(1);
    background-color: transparent;
    border-left: 3px solid rgba(255, 66, 4, 0.68);
    transition: all 2s;
}

.sidebar-disabled .sidebar-button img {
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
}

.sidebar-disabled .sidebar-button-true:hover{
    background-color: rgba(255, 66, 4, 0.3);
    color: var(--buttons-hover);
    transform: scale(1.025);
    border-left: none;
    border-radius: 10px 0 0 10px;
}

.sidebar-disabled .sidebar-button-false{
    background-color: rgba(255, 66, 4, 0.3);
}

.sidebar-disabled .sidebar-button {
    transition: background-color 300ms, border-radius 300ms;
}

.sidebar-disabled .sidebar-button img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-inline: 25%;
    margin-block: 15px;
}

/*
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 0 20px 20px 0;
    background-color: var(--white);
    height: calc(100vh - 150px);
    padding: 20px 0 20px 10px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    transition: all 1s;
}

.sidebar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.sidebar {
    scrollbar-width: none;
}

.sidebar {
    -ms-overflow-style: none;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 50px;
    min-height: 50px;
    transition: all 100ms;
}

.sidebar-button {
    display: flex;
    position: relative;
    border-radius: 15px 0px 0px 15px;
    padding-block: 10px;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    transform: scale(1);
    transition: all 400ms;
}

.sidebar-button img {
    position: absolute;
    left: 5%;
    width: 25px;
    height: 25px;
}

.sidebar-button-true {
    background-color: #BF2604;
    color: white;
}

.sidebar-button-true:hover {
    background-color: var(--buttons-hover);
    transform: scale(1.025) translateX(-2.7px);
}

.sidebar-button-false {
    background-color: #e3e3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.sidebar-item-icon-true {
    filter: invert(1);
}

.sidebar-action {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    min-height: 570px;
    height: 100%;
    max-height: 100%;
    color: var(--off-black);
    background-color: var(--buttons-hover);
    border: none;
    border-radius: 0 20px 20px 0;
    right: 0;
    top: 0;
}

.sidebar-action img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.sidebar-img-active {
    margin-left: 10px;
}

.sidebar-active{
    width: 250px;
    min-width: 250px;
    max-height: calc(100vh - 150px);
    transition: all 2s;
}

.sidebar-disabled {
    min-width: 85px;
    max-width: 85px;
    max-height: calc(100vh - 150px);
    transition: all 1s;
}

.sidebar-disabled .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 20px;
    transition: all 2s;
}

.sidebar-disabled .sidebar-button {
    display: flex;
    border-radius: 15px 0px 0px 15px;
    padding-block: 22.5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    transform: scale(1);
    transition: all 2s;
}

.sidebar-disabled .sidebar-button {
    transition: background-color 300ms;
}

.sidebar-disabled .sidebar-button img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-inline: 25%;
    margin-block: 15px;
}
*/