.content-container-table{
    width: 100%;
    height: fit-content;
    border-radius: 20px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    height: 100%;
    border-radius: 20px !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.7) !important;
}

.MuiTableCell-head{
    font-family: var(--font-family) !important;
    font-weight: 800 !important;
}

table{
    height: 100%;
}